# Core functionality - changes here should be rare!
/src/app.py                   @Maedot13
/src/backend/database.py      @Maedot13
/src/backend/routers/auth.py  @Maedot13

# The frontend will need refactored soon to be more object oriented.
/src/static/   @Maedot13
